@import "./var";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  font-family: $font-rubik;
}

ul,
li {
  margin: 0px !important;
  padding: 0px;
  list-style: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.section-app {
  padding: 40px 0;
}